<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Media Journal</title>
</head>
<body>
    <header>
        <h1>Media Journal</h1>

        <nav>
            <ul class="media-filters">
                <li><a href="/"><button class="filter-btn active">
                    All
                    <img src="/assets/infinity.svg" alt="infinity icon" class="btn-icon">
                </button></a></li>
                <li><button class="filter-btn">
                    Books
                    <img src="/assets/book-icon-thick.svg" alt="book icon" class="btn-icon">
                    </button></li>
                <li><button class="filter-btn">
                    Movies
                    <img src="/assets/filmreel-icon-thick.svg" alt="film reel icon" class="btn-icon">
                    </button></li>
                <li><button class="filter-btn">
                    TV Shows
                    <img src="/assets/tv-icon-thick.svg" alt="tv icon" class="btn-icon">
                    </button></li>
                <li><button class="filter-btn">
                    Games
                    <img src="/assets/controller-icon-thick.svg" alt="controller icon" class="btn-icon">
                    </button></li>
                <li><button class="filter-btn">
                    Music
                    <img src="/assets/music-play-icon-thick.svg" alt="music icon" class="btn-icon">
                    </button></li>
                <li><a href="/media/new"><button class="filter-btn new-entry-btn">
                    New
                    <img src="/assets/new.svg" alt="new icon" class="btn-icon">
                </button></a></li>
            </ul>
        </nav>
    </header>